<footer>
  <div class="container">
    <div class="row">
      <div class="contact col-sm-4">
        <div>
          <ul class="footer-menu">
            <li><a href="./index">首頁</a></li>
            <li><a href="./products">系列鏡框</a></li>
            <li><a href="./branch">門市據點</a></li>
            <li><a href="./blog">部落格</a></li>
            <li><a href="./faq">常見問題</a></li>
          </ul>
          <ul class="contact-info">
            <li>
              <span class="material-symbols-outlined"> call </span>
              <span>0800-000-000</span>
            </li>
            <li>
              <span class="material-symbols-outlined"> mail </span>
              <span>glasses@business.com</span>
            </li>
          </ul>
        </div>
        <ul class="contact-sns">
          <li>
            <a href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
                alt=""
            /></a>
          </li>
        </ul>
      </div>
      <hr class="col-sm-4" />
      <div class="term col-md-12">
        <span>Copyright © 2020 Glasses.All rights reserved.</span>
        <ul>
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
