<footer>
  <div class="container">
    <div class="contact">
      <div>
        <ul class="footer-menu">
          <li><a href="/">首頁</a></li>
          <li><a href="/products">系列鏡框</a></li>
          <li><a href="/branch">門市據點</a></li>
          <li><a href="/blog">部落格</a></li>
          <li><a href="/faq">常見問題</a></li>
        </ul>
        <ul class="contact-sns">
          <li>
            <a href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
                alt=""
            /></a>
          </li>
        </ul>
      </div>
      <ul class="contact-info">
        <li>
          <div class="material-symbols-outlined">call</div>
          <span>0800-000-000</span>
        </li>
        <li>
          <div class="material-symbols-outlined">mail</div>
          <span>glasses@business.com</span>
        </li>
      </ul>
    </div>
    <hr />
    <div class="term">
      <span>Copyright © 2020 Glasses.All rights reserved.</span>
      <a href="#">隱私權政策</a>
      <a href="#">服務條款</a>
    </div>
  </div>
</footer>
