<nav>
  <div class="container container-fluid">
    <div class="row">
      <h1 class="logo">
        <a href="/">Rocket Glasses</a>
      </h1>
      <ul class="nav-group">
        <li>
          <a href="/product">系列鏡框</a>
        </li>
        <li><a href="/branch">門市據點</a></li>
        <li><a href="/blog">部落格</a></li>
        <li><a href="/faq">常見問題</a></li>
      </ul>
    </div>
  </div>
</nav>
