.btn {
  background-color: $primary;
  color: white;
  line-height: normal;
  border: none;
}

.btn-sm {
  padding: 6px 12px;

  font-size: 20px;
}

.btn-lg {
  padding: 16px 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;

  transition: 0.3s;

  &:hover {
    transform: scaleX(0.95);
    background-color: $dark;
  }
}

section {
  padding: 40px 0;

  h2 {
    margin: 0 auto;

    color: $dark;
    text-align: center;
    @include h4;
  }
  @include pad {
    padding: 80px 0;

    h2 {
      @include h2;
    }
  }
}

.page-title {
  @include h4;

  margin-left: -4px;
  margin-bottom: 24px;
  padding-left: 16px;

  border-left: 8px solid $primary;

  @include pad {
    @include h2;

    margin-bottom: 32px;
  }
}
