<!DOCTYPE html>
<html lang="zh-TW">
  <%- include("partials/header") %>
  <body>
    <%- include("partials/nav") %>
    <div class="root-branch">
      <section class="branch">
        <div class="container">
          <h2 class="page-title">門市據點</h2>
          <div class="branch-selector-wrapper">
            選擇地區
            <select class="branch-selector" name="branch-location" id="">
              <option value="">台北市</option>
              <option value="">台中市</option>
              <option value="">高雄市</option>
            </select>
          </div>
          <ul class="branch-list">
            <li class="branch-list-card col-md-6 col-lg-4">
              <img
                class="branch-view"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png"
                alt="store-1"
              />
              <h3>台北中山旗艦店</h3>
              <ul class="branch-info">
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    call </span
                  ><span>電話：(02)000-1234</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon"
                    >location_on</span
                  >
                  <span>地址：台北市中山區南京東路25巷2-1號</span>
                </li>
              </ul>
              <a href="store.html"> 詳細資訊 </a>
            </li>
            <li class="branch-list-card col-md-6 col-lg-4">
              <img
                class="branch-view"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-2.png"
                alt="store-2"
              />
              <h3>台北綠園店</h3>
              <ul class="branch-info">
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    call </span
                  ><span>電話：(02)000-2345</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon"
                    >location_on</span
                  >
                  <span>地址：台北市中正區復興南路 132-1 號</span>
                </li>
              </ul>
              <a href="store.html"> 詳細資訊 </a>
            </li>
            <li class="branch-list-card col-md-6 col-lg-4">
              <img
                class="branch-view"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-3.png"
                alt="store-3"
              />
              <h3>台中清水旗艦店</h3>
              <ul class="branch-info">
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    call </span
                  ><span>電話：(02)000-1234</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon"
                    >location_on</span
                  >
                  <span>地址：台中市清水區經南一路 23 號 8 樓</span>
                </li>
              </ul>
              <a href="store.html"> 詳細資訊 </a>
            </li>
            <li class="branch-list-card col-md-6 col-lg-4">
              <img
                class="branch-view"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-4.png"
                alt="store-4"
              />
              <h3>高雄中正形象店</h3>
              <ul class="branch-info">
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    call </span
                  ><span>電話：(02)000-1234</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon"
                    >location_on</span
                  >
                  <span>地址：高雄市苓雅區中正路 38 號 12 樓</span>
                </li>
              </ul>
              <a href="store.html"> 詳細資訊 </a>
            </li>
            <li class="branch-list-card col-md-6 col-lg-4">
              <img
                class="branch-view"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-5.png"
                alt="store-5"
              />
              <h3>高雄夢時代店</h3>
              <ul class="branch-info">
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    call </span
                  ><span>電話：(02)000-1234</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon">
                    schedule </span
                  ><span>營業時間：10:00-21:00</span>
                </li>
                <li>
                  <span class="material-symbols-outlined branch-icon"
                    >location_on</span
                  >
                  <span>地址：高雄市前鎮區中華一路 63 號 6 樓</span>
                </li>
              </ul>
              <a href="store.html"> 詳細資訊 </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
