<!DOCTYPE html>
<html lang="zh-TW">
  <%- include("partials/header") %>
  <body>
    <%- include("partials/nav") %>
    <div class="root-faq">
      <section class="faq">
        <div class="container">
          <h2 class="page-title">常見問題</h2>
          <h2 class="faq-title">我想詢問配鏡問題</h2>
          <ul>
            <li>
              <h3>Q1.請問可否自備鏡框單配鏡片？</h3>
              <p>
                A1.我牌鏡框搭配薄型非球面鏡片 1480
                元，搭配功能型鏡片則依鏡片種類加價購買。
                <br />
                當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
                元），搭配功能型鏡片則依鏡片種類加價購買。<br />
                他牌鏡框，搭配薄型非球面鏡片 1980
                元，搭配功能型鏡片則依鏡片種類加價購買。
              </p>
            </li>
            <li>
              <h3>Q2.眼鏡都可以20分鐘取件嗎？</h3>
              <p>
                A1.我牌鏡框搭配薄型非球面鏡片 1480
                元，搭配功能型鏡片則依鏡片種類加價購買。<br />
                當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
                元），搭配功能型鏡片則依鏡片種類加價購買。<br />
                他牌鏡框，搭配薄型非球面鏡片 1980
                元，搭配功能型鏡片則依鏡片種類加價購買。
              </p>
            </li>
            <li>
              <h3>Q3.散光鏡片需要額外加價嗎？</h3>
              <p>
                A1.我牌鏡框搭配薄型非球面鏡片 1480
                元，搭配功能型鏡片則依鏡片種類加價購買。<br />
                當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
                元），搭配功能型鏡片則依鏡片種類加價購買。<br />
                他牌鏡框，搭配薄型非球面鏡片 1980
                元，搭配功能型鏡片則依鏡片種類加價購買。
              </p>
            </li>
            <li>
              <h3>Q4.我可以使用舊眼鏡的度數配鏡片嗎？</h3>
              <p>
                A1.我牌鏡框搭配薄型非球面鏡片 1480
                元，搭配功能型鏡片則依鏡片種類加價購買。<br />
                當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
                元），搭配功能型鏡片則依鏡片種類加價購買。<br />
                他牌鏡框，搭配薄型非球面鏡片 1980
                元，搭配功能型鏡片則依鏡片種類加價購買。
              </p>
            </li>
            <li>
              <h3>Q5.請問可以單購買鏡框嗎？</h3>
              <p>
                A1.我牌鏡框搭配薄型非球面鏡片 1480
                元，搭配功能型鏡片則依鏡片種類加價購買。<br />
                當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
                元），搭配功能型鏡片則依鏡片種類加價購買。<br />
                他牌鏡框，搭配薄型非球面鏡片 1980
                元，搭配功能型鏡片則依鏡片種類加價購買。
              </p>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
