<!DOCTYPE html>
<html lang="zh-TW">
  <%- include("partials/header") %>
  <body>
    <%- include("partials/nav") %>
    <div class="root-homepage">
      <header class="homepage-header">
        <div class="container">
          <div class="row">
            <div class="homepage-header-title">
              <h3>Promise-Desert 2020 早春系列</h3>
              <h2>看得清，才能看得遠</h2>
            </div>
            <a class="btn btn-sm" href="#">立即購買</a>
          </div>
        </div>
      </header>
      <section class="intro">
        <div class="container">
          <div class="row">
            <h2>用專業的心，做專業的事</h2>
            <ul class="intro-list">
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section2-1.png"
                  alt="price"
                />
                <h3>單一價格</h3>
                <p>
                  無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
                </p>
              </li>
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section2-2.png"
                  alt="efficiency"
                />
                <h3>20 分鐘即可取件</h3>
                <p>
                  為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                  20 分鐘即可完成。
                </p>
              </li>
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section2-3.png"
                  alt="price"
                />
                <h3>安心售後服務</h3>
                <p>
                  我們提供長達 120
                  天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
                </p>
              </li>
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-sectioin2-4.png"
                  alt="price"
                />
                <h3>關於鏡片</h3>
                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="category">
        <div class="container">
          <div class="row">
            <h2 class="col-sm-4">經典系列鏡框</h2>
            <ul>
              <li class="col-md-6 col-lg-4">
                <a href="./products.html"
                  ><img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-1.png"
                    alt="OPTICAL"
                  />
                  <h3>OPTICAL</h3></a
                >
              </li>
              <li class="col-md-6 col-lg-4">
                <a href="./products-2.html"
                  ><img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-2.png"
                    alt="SUNGLASSES"
                  />
                  <h3>SUNGLASSES</h3></a
                >
              </li>
              <li class="col-md-6 col-lg-4">
                <a href="#">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-3.png"
                    alt="FUNCTIONAL"
                  />
                  <h3>FUNCTIONAL</h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="co-branding">
        <div class="container">
          <div class="row">
            <h2 class="homepage-title">聯名設計鏡框</h2>
            <ul class="co-branding-list col-md-12">
              <li>
                <a href="#">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png"
                    alt="DOUBLE A+"
                  />
                  <h3>DOUBLE A+</h3>
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png"
                    alt="YOUTH"
                  />
                  <h3>YOUTH</h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="comment">
        <div class="container">
          <div class="row">
            <h2 class="col-sm-4">顧客推薦</h2>
            <ul class="comment-list col-md-12">
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-1.png"
                  alt="comment-1"
                />
                <div class="comment-info">
                  <div>
                    <span>Jessy</span>
                    <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  </div>
                  <span class="comment-date">2021/06/20</span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-2.png"
                  alt="comment-2"
                />
                <div class="comment-info">
                  <div>
                    <span>凱倫</span>
                    <p>
                      做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                    </p>
                  </div>
                  <span class="comment-date">2021/04/18</span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-3.png"
                  alt="comment-3"
                />
                <div class="comment-info">
                  <div>
                    <span>悠悠</span>
                    <p>
                      謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                    </p>
                  </div>
                  <span class="comment-date">2020/12/25</span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-4.png"
                  alt="comment-4"
                />
                <div class="comment-info">
                  <div>
                    <span>Kyuan</span>
                    <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  </div>
                  <span class="comment-date">2020/10/31</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="response">
        <div class="container">
          <div class="row">
            <h2 class="col-sm-4">聯絡我們</h2>
            <p class="col-sm-4 col-md-10 col-lg-6">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form
              class="response-form col-sm-4 col-md-12"
              action="#"
              method="POST"
            >
              <ul class="col-md-10 col-lg-6">
                <li>
                  <span>姓名</span>
                  <input type="text" name="username" placeholder="廖阿杰" />
                </li>
                <li>
                  <span>聯絡電話</span>
                  <input
                    type="text"
                    name="username"
                    placeholder="0912-345-678"
                  />
                </li>
                <li>
                  <span>電子郵件</span>
                  <input
                    type="text"
                    name="username"
                    placeholder="rocket@camp.com"
                  />
                </li>
                <li><span>意見反應</span><textarea></textarea></li>
                <li>
                  <div><input type="checkbox" /></div>
                  <span>
                    我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                  </span>
                </li>
              </ul>
              <button class="col-sm-4 col-md-6 col-lg-4 btn btn-lg">
                確認送出
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
