<!DOCTYPE html>
<html lang="zh-TW">
  <%- include("partials/header") %>
  <body>
    <%- include("partials/nav") %>
    <div class="root-products product-2">
      <header class="products-header">
        <div class="container container-fluid">
          <div class="row">
            <ul class="category-list">
              <li class="category-1">
                <a href="/product"><h2>OPTICAL</h2></a>
              </li>
              <li class="category-2">
                <a href="/product-2"><h2>SUNGLASSES</h2></a>
              </li>
              <li class="category-3">
                <a href="#"><h2>FUNCTIONAL</h2></a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="category-img-list">
          <li>
            <img
              class="category-img-3"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-3.png"
              alt="product-header-3"
            />
          </li>
          <li>
            <img
              class="category-img-4"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-4.png"
              alt="product-header-4"
            />
          </li>
        </ul>
      </header>
      <section class="products-menu">
        <div class="container">
          <h3 class="col-sm-4 products-title-en">2020 NEW COLLECTION</h3>
          <h3 class="col-sm-4 products-title-tw">賽璐珞鈦金屬混合鏡框</h3>
          <ul class="row products-menu-list col-sm-4 sunglass">
            <li class="col-md-6 col-lg-4">
              <a
                href="
              #"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-7.png"
                  alt="product-7"
                />
              </a>
              <div class="product-info">
                <span class="number">BJ41600S</span
                ><span class="price">NTD3,490</span>
              </div>
              <div class="product-color">
                <span class="color-1"></span><span class="color-2"></span>
              </div>
            </li>
            <li class="col-md-6 col-lg-4">
              <a
                href="
              #"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-8.png"
                  alt="product-8"
                />
              </a>
              <div class="product-info">
                <span class="number">BJ41600S</span
                ><span class="price">NTD3,490</span>
              </div>
              <div class="product-color">
                <span class="color-1"></span><span class="color-2"></span>
              </div>
            </li>
            <li class="col-md-6 col-lg-4">
              <a
                href="
              #"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-9.png"
                  alt="product-9"
                />
              </a>
              <div class="product-info">
                <span class="number">BJ41600S</span
                ><span class="price">NTD3,490</span>
              </div>
              <div class="product-color">
                <span class="color-1"></span><span class="color-2"></span>
              </div>
            </li>
            <li class="col-md-6 col-lg-4">
              <a
                href="
              #"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-10.png"
                  alt="product-10"
                />
              </a>
              <div class="product-info">
                <span class="number">BJ41600S</span
                ><span class="price">NTD3,490</span>
              </div>
              <div class="product-color">
                <span class="color-1"></span><span class="color-2"></span>
              </div>
            </li>
            <li class="col-md-6 col-lg-4">
              <a
                href="
              #"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-11.png"
                  alt="product-11"
                />
              </a>
              <div class="product-info">
                <span class="number">BJ41600S</span
                ><span class="price">NTD3,490</span>
              </div>
              <div class="product-color">
                <span class="color-1"></span><span class="color-2"></span>
              </div>
            </li>
            <li class="col-md-6 col-lg-4">
              <a
                href="
              #"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-12.png"
                  alt="product-12"
                />
              </a>
              <div class="product-info">
                <span class="number">BJ41600S</span
                ><span class="price">NTD3,490</span>
              </div>
              <div class="product-color">
                <span class="color-1"></span><span class="color-2"></span>
              </div>
            </li>
          </ul>
          <table class="pagenation">
            <tr>
              <td>上一頁</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>下一頁</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
