<!DOCTYPE html>
<html lang="zh-TW">
  <%- include("partials/header") %>
  <body>
    <%- include("partials/nav") %>
    <div class="root-products">
      <header class="products-header">
        <div class="container container-fluid">
          <div class="row">
            <ul class="category-list">
              <li class="category-1">
                <a href="./product"><h2>OPTICAL</h2></a>
              </li>
              <li class="category-2">
                <a href="./product-2"><h2>SUNGLASSES</h2></a>
              </li>
              <li class="category-3">
                <a href="#"><h2>FUNCTIONAL</h2></a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="category-img-list">
          <li>
            <img
              class="category-img-1"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-1.png"
              alt="product-header-1"
            />
          </li>
          <li>
            <img
              class="category-img-2"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-2.png"
              alt="product-header-2"
            />
          </li>
        </ul>
      </header>
      <section class="products-menu">
        <div class="container">
          <div class="row">
            <h3 class="col-sm-4 products-title-en">Celluloid Combi</h3>
            <h3 class="col-sm-4 products-title-tw">賽璐珞鈦金屬混合鏡框</h3>
            <ul class="products-menu-list col-sm-4">
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                    alt="product-1"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                    alt="product-2"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                    alt="product-3"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                    alt="product-4"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-5.png"
                    alt="product-5"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-6.png"
                    alt="product-6"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                    alt="product-1"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                    alt="product-2"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                    alt="product-3"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
              <li class="col-md-6 col-lg-3">
                <a
                  href="
              #"
                >
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                    alt="product-4"
                  />
                </a>
                <div class="product-info">
                  <span class="number">BJ41600S</span
                  ><span class="price">NTD3,490</span>
                </div>
                <div class="product-color">
                  <span class="color-1"></span><span class="color-2"></span>
                </div>
              </li>
            </ul>
          </div>
          <ul class="pagenation col-sm-4">
            <li>上一頁</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>下一頁</li>
          </ul>
        </div>
      </section>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
