<!DOCTYPE html>
<html lang="zh-TW">
  <%- include("partials/header") %>
  <body>
    <%- include("partials/nav") %>
    <div class="root-branch">
      <section class="branch">
        <div class="container">
          <h2 class="page-title">門市據點</h2>
          <div class="branch-selector-wrapper">
            選擇分店
            <select class="branch-selector" name="branch-location" id="">
              <option value="">台北市</option>
              <option value="">台中市</option>
              <option value="">高雄市</option>
            </select>
          </div>
          <div class="row store-wrapper">
            <div class="store-card col-sm-4 col-lg-5">
              <img
                class="col-sm-4 col-md-6"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-2.png"
                alt="store-2"
              />
              <div class="store-info-wrapper col-sm-4 col-md-6">
                <h3>台北綠園店</h3>
                <ul class="branch-info">
                  <li>
                    <span class="material-symbols-outlined branch-icon">
                      call </span
                    ><span>電話：(02)000-2345</span>
                  </li>
                  <li>
                    <span class="material-symbols-outlined branch-icon">
                      schedule </span
                    ><span>營業時間：10:00-21:00</span>
                  </li>
                  <li>
                    <span class="material-symbols-outlined branch-icon"
                      >location_on</span
                    >
                    <span>地址：台北市中正區復興南路 132-1 號</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="store-map col-sm-4 col-lg-7">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.2371839262057!2d121.5242682496337!3d25.05190627205108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a966031f5799%3A0x35822d693796d1a1!2z5ZCJ5pif5riv5byP6aOy6Iy2!5e0!3m2!1szh-TW!2stw!4v1691402357319!5m2!1szh-TW!2stw"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
