@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pad {
	@media(min-width:768px) {
		@content;
	}
}

@mixin desktop {
	@media(min-width:1200px) {
		@content
	}
}