.branch {
  font-weight: 400;
  h2 {
    text-align: left;

    color: black;
  }
  h3 {
    padding: 8px 24px;
    border: 1px solid #00000020;

    @include h4;
    font-weight: 400;
  }

  @include desktop {
    padding-top: 96px;
  }
}

.branch-selector-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
  width: 100%;

  @include pad {
    margin-bottom: 40px;

    font-size: 24px;
  }
}

.branch-selector {
  flex: 1;

  margin-left: 8px;
  padding: 6px 12px;
  max-width: 304px;
  height: 38px;

  background-color: transparent;

  border: 1px solid grey;

  @include pad {
    margin-left: 16px;

    padding: 0 12px;
    font-size: 18px;
  }
}

.branch-list {
  a {
    display: block;

    padding: 16px 0;

    background-color: black;

    color: white;
    font-size: 19px;
    text-align: center;
  }

  @include pad {
    display: flex;
    flex-wrap: wrap;

    .branch-list-card {
      margin-right: 24px;
    }

    .branch-list-card:nth-child(2n) {
      margin-right: 0;
    }

    .branch-list-card:last-child {
      margin-bottom: 0;
    }
  }

  @include desktop {
    .branch-list-card:nth-child(2n) {
      margin-right: 24px;
    }

    .branch-list-card:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.branch-list-card {
  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 48px;
  }
}

.branch-view {
  display: block;

  img {
    display: block;
    width: 100%;
    min-height: 224px;

    object-fit: cover;
  }
}

.branch-info {
  padding: 16px 24px;
  border: 1px solid #00000020;

  li {
    display: flex;

    margin-bottom: 8px;

    font-size: 20px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  .branch-icon {
    margin-right: 8px;
  }
}
// sub
.sub {
  .branch-list-card {
    @include pad {
      display: flex;
      justify-content: space-between;
    }

    @include desktop {
      flex-direction: column;

      margin-bottom: 0;

      .branch-view {
        width: 100%;
      }
    }
  }
}

.branch-wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}

.branch-map {
  margin-bottom: 24px;

  iframe {
    width: 100%;
  }

  @include desktop {
    margin-bottom: 0;

    iframe {
      height: 100%;
    }
  }
}

.branch-info-wrapper {
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 100%;
  }

  .branch-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }
}
