footer {
  padding: 24px 0;

  background-color: $primary;
  color: white;

  hr {
    margin: 24px 0;
    border: none;

    border-top: 1px solid white;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;

    fill: white;
  }

  li {
    display: flex;
    align-items: center;

    font-weight: 400;
  }

  li:nth-last-child(1) {
    margin-top: 8px;
  }
}

.contact-sns {
  display: flex;

  img {
    width: 24px;
    height: 24px;
  }

  li {
    margin-left: 8px;

    font-weight: 400;
  }
}

.term {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
  }

  a {
    margin-top: 8px;
    color: white;
  }
}
