header {
  padding: 144px 0;
  background-image: url("../../src/images/home-header-sm.png");
  background-size: cover;
  background-position: center;

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.header-title {
  margin-bottom: 8px;

  color: $dark;

  h3 {
    font-weight: 400;
  }
}
