footer {
  padding: 24px 0;

  background-color: $primary;

  color: white;

  hr {
    margin: 24px 0;

    border-top: 1px solid white;

    @include pad {
      margin: 32px 0;
    }
  }

  @include pad {
    padding: 40px 0;
  }
}

.footer-menu {
  display: none;

  a {
    display: block;

    width: 100%;

    color: white;
  }

  @include pad {
    display: flex;

    margin-top: 16px;
    margin-bottom: 32px;

    li {
      margin-right: 48px;
    }

    li:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  li {
    display: flex;
    align-items: center;
  }

  li:first-child {
    margin-bottom: 8px;
  }

  span:first-child {
    margin-right: 8px;

    font-size: 24px;
    font-weight: 700;
  }

  @include pad {
    span {
      @include h3;

      font-weight: 400;
    }
    span:first-child {
      margin-right: 16px;

      font-size: 48px;
    }
  }
}

.contact-sns {
  display: flex;

  li {
    margin-left: 8px;

    font-weight: 400;

    @include pad {
      margin-top: 8px;
      margin-left: 16px;
    }
  }

  img {
    width: 24px;
    height: 24px;

    @include pad {
      width: 40px;
      height: 40px;
    }
  }
}

.term {
  display: flex;
  flex-direction: column;

  @include pad {
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;

    @include pad {
      flex-direction: row;
    }
  }

  li {
    @include pad {
      font-size: 14px;

      &:last-child {
        margin-left: 48px;
      }
    }
  }

  a {
    margin-top: 8px;
    color: white;
  }
}
