nav {
  background-color: $primary;

  // 平板模式開始按鈕群組的 fluid 不作用
  @include pad {
    .container-fluid {
      padding: initial;
    }

    .row {
      justify-content: space-between;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  height: 80px;

  a {
    display: block;
    height: 100%;

    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left center;

    // 圖片取代文字
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.menu-group {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
  width: 100vw;

  @include pad {
    flex-wrap: nowrap;

    margin: initial;
    width: initial;
  }

  li {
    @include flex-center;

    padding: 12px 0;
    width: 50%;

    border: 1px solid white;

    @include pad {
      margin-left: 64px;
      padding: initial;
      width: initial;

      border: none;

      font-size: 20px;
    }
  }

  a {
    width: 100%;

    color: white;
    text-align: center;
    line-height: normal;
  }
}
