// 文字樣式設定
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: "Roboto",  "Noto Sans TC", sans-serif;
}

@mixin h1 {
  font-size: 64px;
  font-weight: 700;
}

@mixin h2 {
  font-size: 48px;
  font-weight: 700;
}

@mixin h3 {
  font-size: 36px;
  font-weight: 700;
}

@mixin h4 {
  font-size: 24px;
  font-weight: 700;
}

@mixin h5 {
  font-size: 20px;
}

@mixin roboto-title {
  color: $primary;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
}